{% extends 'core/base/base.html' %}

{% block content %}

<h1>FAQ's</h1>
<hr>

<p><b>What does my credibility score mean?</b></p>
<p>Your score is based on your previous history of rent, loan, and household payments and any proof of incomes you are able to provide. Your score shows how successfully you have been able to maintain strong finances and pay back any debts. A “Good” or “Excellent” score shows a potential landlord, employer, or even roommate how reliable you are in case you do not have the papers or documents to prove that you are able to make repayments. </p>

<p>Your score is calculated out of 100. If the information on your financial and employment history cannot be verified, you will start with a score of 0 until we can help you build up your score.</p> 

<p><b>Why is my score negative? How can I change this?</b></p>

<p>If your previous documents or your verification process shows that:</p> 

<p>You missed more than 2 loan or rent repayments OR
Your household expenditures (rent and how much you pay for expenses) is higher than your average income</p> 

<p>… then your score is calculated as a negative. Don’t worry, there are ways to improve this! See here for more information.</p> 

<p><b>I got a new job. How do I update this?</b></p>
<p>Congratulations!! Click on “Profile” and edit whatever information you have updated. After this is verified, you may see an increase in your credibility score.</p> 

<p><b>How can I use my score? What if someone has questions about my score?</b></p>
<p>You can send your profile and score to anyone asking for proof of employment, ability to pay, or in any scenario where you may not be able to provide documents to match requirements. If you have a strong score, this can show your landlord, potential employer, or potential lender that you are able to make repayments even if you are </p> 

<p><b>Who can see my score?</b></p>
<p>Your score can only be shared by people you wish to share your score with. For example, if a landlord is asking for proof that you can make repayments, you can send them a link to your profile. </p> 

<p>Here, they will only see what parts of your profile you agree to share with them. For example, if you do not want your landlord to see you worked in a restaurant, you can hide this and they will only see that your employment was verified and for how long you worked there.</p> 

<p><b>What is “Lease Support”? Will you help pay my rent?</b></p>
<p>If you are confident you can pay your rent, but are unable to prove this to your landlord, you can apply for “lease support” from us. Lease support will help you get a “guarantor” or a 3rd party organization that will co-sign the lease with you. You are still responsible for all rent payments, but the 3rd party organization will help tell the landlord that they trust you to make the repayments. If you are unable to pay rent one month, the 3rd party organization will provide the rent for 1 month and this will have to be repaid by you later.</p> 

<p>If your application for lease support is accepted, we will help you contact the guarantor and finalize this partnership.</p> 

<p><b>What is “Group Insurance and Savings?”</b></p>
<p>You can choose to add group insurance to your lease if you are approved. Group insurance helps you choose a group of friends to add a collective insurance. Each month, 5% of your rent will be deposited in a collective savings pool. If anyone in your group does not make their payment, the collective pool will be subtracted and used to fund their rent payments. If everyone makes payments successfully throughout their lease, your savings will be returned to you at the end of your lease.</p> 



{% endblock %}