{% extends 'core/base/base.html' %}

{% block content %}

<script>
	/*
	 * Produces pretty score indicator--also works without js
	 */
	var colorsByScore = {
		bad:"#f94b5c",
		weak:"#fff24d",
		okay:"#f7bb63",
		good: "#2ecc71",
		excellent: "#2ecc71"
	};
	var score = {{credit_score}};

	$(document).ready(function(){

		//unhide foreground, now that we know JS is working
		//$("#foreground").show();

		//fill score text
		$("#score-text").html(score);

		var coords = [[50.0,250.0]]; // initial point
		if (score >=50){
			var sc = (score-50)/50 * 250;
			xCoord = .6*sc + 200.0;
			yCoord = .8*sc + 50.0;

			//middle point
			coords.push([200.0,50.0]);
			//terminal point
			coords.push([xCoord,yCoord]);
		} else if (score == 50) {
			//middle pt
			coords.push([200.0,50.0]);
		} else if (score > 0) {
			var sc = (score)/50 * 250;
			xCoord = .6*sc+50;
			yCoord = 250-.8*sc;
			//second point (no middle pt since on left side of path)
			coords.push([xCoord,yCoord]);
		} else { //BAD, score is <= 0
			$("#foreground").attr("stroke","none");
			$("#background").attr("stroke",colorsByScore["bad"]);

			//fill score text
			$("#score-text").html("!");
			$("#score-text").attr("style","fill:"+colorsByScore["bad"]);
			$("#comment-text").html("Bad");
		}
		oString = "";
		for (var i = 0; i < coords.length; i++){
			console.log(coords[i][0]+","+coords[i][1]+" ");
			oString += (coords[i][0]+","+coords[i][1]+" ");			
		}
		$("#foreground").attr("points",oString);
		//color of score text
		if (score < 40 && score > 0){ 
			$("#score-text").attr("style","fill:"+colorsByScore["weak"]);
			$("#foreground").attr("stroke",colorsByScore["weak"]);
			$("#comment-text").html("Weak");
		} else if (score >= 40 && score < 60) {
			$("#score-text").attr("style","fill:"+colorsByScore["okay"]);
			$("#foreground").attr("stroke",colorsByScore["okay"]);
			$("#comment-text").html("Okay");
		} else if (score >= 60 && score < 80) {
			$("#score-text").attr("style","fill:"+colorsByScore["good"]);
			$("#foreground").attr("stroke",colorsByScore["good"]);
			$("#comment-text").html("Good");
		} else if (score >= 80) {
			$("#score-text").attr("style","fill:"+colorsByScore["excellent"]);
			$("#foreground").attr("stroke",colorsByScore["excellent"]);
			$("#comment-text").html("Excellent");
		}			
	});
</script>

<div class="container container-fluid">
	{% if user.account.has_lease %}
	<script>
		var lease_duration_elapsed = {{user.account.lease.payments_made}};
		var total_lease_duration = {{user.account.lease.duration}};
		var lease_percentage_decimal = parseFloat(lease_duration_elapsed) / parseFloat(total_lease_duration);
		var progressOutOf280 = lease_percentage_decimal * 280.0;
		$(document).ready(function(){
			$("#lease-indic-fg").attr("points","10,20 "+(progressOutOf280+10)+",20");
		});
	</script>
	<!--lease progress view-->
	<div class="alert alert-secondary" role="alert">
		<svg version="1.0" id="score-viewer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 300 55" enable-background="new 0 0 300 55" xml:space="preserve">
		<!--background shape-->
		<polyline id="lease-indic-bg" fill="none" stroke="#cccccc" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			10,20 290,20 "/>
		<!--foreground shape-->
		<polyline id="lease-indic-fg" fill="none" stroke="#662d91" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			10,20 10,20 "/>
		<!--lease indic text-->
		<text id="lease-progress-text" text-anchor="middle" x="150" y="50" font-size=".9em" font-family="Helvetica">Your Lease Payment Progress: {{user.account.lease.payments_made}} payments</text>
		</svg>
	</div><!--alert for lease progress alert-->
	{% endif %}
	<div class="row">
		<p style="color:#777777;">Your Credit Ability Score:</p>
	</div>
	<div class="row">
	<!--credit indicator shape-->
		<svg version="1.0" id="score-viewer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">

		<!--background shape-->
		<polyline id="background" fill="none" stroke="#cccccc" stroke-width="60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			50,250 200,50 350,250 "/>
		<!--foreground shape-->
		<polyline id="foreground" fill="none" stroke="none" stroke-width="60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			50,250 200,50 275,150 "/>
		<!--score text-->
		<text id="score-text" text-anchor="middle" x="200" y="250" font-size="72" font-family="Helvetica"></text>
		<!--dividing line-->
		<polyline id="divider-line" stroke="#cccccc" stroke-width="1" points="50,295 350,295" />
		<!--comment text-->
		<text id="comment-text" text-anchor="middle" x="200" y="344" font-size="48" style="fill:#777777"font-family="Helvetica"></text>
		</svg>
	<!--buttons box for nav-->
	    <div class="buttons-box">
	        <div class="buttons-box-button">
	            <a href="/profile"><div class="button-image" style="background-image:url('{{user.account.profile_photo.url}}');background-size:cover;"></div></a>
	            <div class="button-label-content">Profile</div>
	        </div>
	        <a href="/financials"><div class="buttons-box-button">
	            <a href="/financials/"><div class="button-image financials-icon"></div></a>
	            <div class="button-label-content">Financials</div>
	        </div>
	        <div class="buttons-box-button ">
	            <a href="#"><div class="button-image notifications-icon" data-toggle="modal" data-target="#notificationsModal"></div></a>
	            <div class="button-label-content">Notifications</div>
	        </div>
			<div class="buttons-box-button ">
	            <a href="/faq"><div class="button-image help-icon"></div></a>
	            <div class="button-label-content">Help</div>
	        </div>
	    </div> <!--buttons-box-->
    </div><!--/row-->
    <div class="row">
	    <!--action button-->
		{% if user.account.has_lease %}
			<a href="/join-group">
				<button type="button" class="btn btn-primary">Join Lease Insurance Group</button>
			</a>
		{% elif not user.account.has_lease and user.account.applied_for_lease %}
				<button type="button" class="btn btn-secondary">Your Lease Support Application is Processing...</button>
		{% else %}
			<a href="/lease-apply">
				<button type="button" class="btn btn-primary">Apply for Lease Support</button>
			</a>    	
		{% endif %}
	</div><!--/row-->
</div> <!--container-->

<!--notifications modal-->
<div class="modal" id="notificationsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notifications!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<ul>
      		{% for notif in notifications %}
      		<li>{{ notif.content }}</li>
      		{% empty %}
      		<p>No notifications</p>
      		{% endfor %}
      	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}